## QUESTION 1

We are going to conduct a 2 tailed t-Test on 2 Independent samples with Numerical Data We need to check whether the mean of both samples are different and Is there any significance difference between the two samples at aplha=0.05/2

Null Hypothesis: There is no significant difference in the diameter of the cutlet between two units.

Alternative Hypthosis: There is a significant difference in the diameter of the cutlet between two units

In [1]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

In [3]:
df = pd.read_csv('Cutlets.csv')

In [5]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
unitA=pd.Series(df.iloc[:,0])

In [7]:
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [8]:
unitB = pd.Series(df.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [9]:
#2 sample 2 tail test
scipy.stats.ttest_ind(unitA,unitB)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [10]:
pvalue=scipy.stats.ttest_ind(unitA,unitB)[1]
pvalue

0.4722394724599501

In [11]:
alpha = 0.025
print('Significnace=%.3f, p=%.3f' % (alpha, pvalue))
if pvalue <= alpha:
    print('We reject Null Hypothesis there is a significance difference between two units')
else:
    print('We fail to reject Null hypothesis, there is no significant difference in the diameter of the cutlet between two units')

Significnace=0.025, p=0.472
We fail to reject Null hypothesis, there is no significant difference in the diameter of the cutlet between two units

- Hence, We fail to reject Null Hypothesis because of lack of evidence, there is no significant difference between the two samples

## QUESTION- 2

We are going to conduct a ANOVA Test on 4 Independent samples with Numerical Data We need to check whether the mean of any of these samples are different or the same

Null Hypothesis: There is no difference in average TAT among different laboratories

Alternative Hypthosis: Atleast One of them is Different. at alpha = 0.05

In [12]:
df2 = pd.read_csv('LabTAT.csv')

In [13]:
df2

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [14]:
test_statistic , p_value = stats.f_oneway(df2.iloc[:,0], df2.iloc[:,1],df2.iloc[:,2],df2.iloc[:,3])
print('p_value =',p_value)

p_value = 2.1156708949992414e-57

In [15]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significant difference between TAT of reports of the laboratories')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.000
We reject Null Hypothesis there is a significant difference between TAT of reports of the laboratories

## QUESTION-3

We are going to conduct a Test of Independence using Chi-Square test with Contingency table We need to check whether the proportion of any of these samples are different or the same

Null Hypothesis: There is no association or dependency between the gender based buyer rations across regions

Alternative Hypthosis: There is a significant association or dependency between the gender based buyer rations across regions

alpha=0.05

In [16]:
df3 = pd.read_csv('BuyerRatio.csv')

In [17]:
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [18]:
table = [[50,142,131,70],
        [435,1523,1356,750]]

In [19]:
stats.chi2_contingency(table)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [20]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299,  146.81287862,  131.11756787, 72.30424052, 442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [21]:
statistics, p_value = stats.chisquare(observed, expected, ddof = 3)
print("Statistics = ",statistics,"\n",'P_Value = ', p_value)

Statistics =  1.5959455390914483
 P_Value =  0.8095206646905712

In [22]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significant association or dependency between the gender based buyer rations across regions')
else:
    print('We fail to reject Null hypothesis,there is no association or dependency between the gender based buyer rations across regions')

Significnace=0.050, p=0.810
We fail to reject Null hypothesis,there is no association or dependency between the gender based buyer rations across regions

## QUESTION-4

We are going to conduct a Test of Independence using Chi-Square test with Contingency table We need to check whether the mean of any of these samples are different or the same

Null Hypothesis: There is no difference between 4 centers

Alternative Hypthosis: Atleast One of them is Different

In [23]:
df4 = pd.read_csv('Costomer+OrderForm.csv')

In [24]:
df4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [25]:
contingency_table = [[271,267,269,280],
                    [29,33,31,20]]
print(contingency_table)

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [26]:
# Calculating Expected Values for Observed data
stat, p, df, exp = stats.chi2_contingency(contingency_table)
print("Statistics = ",stat,"\n",'P_Value = ', p,'\n', 'degree of freedom =', df,'\n', 'Expected Values = ', exp)

Statistics =  3.858960685820355
 P_Value =  0.2771020991233135
 degree of freedom = 3
 Expected Values =  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [27]:
observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [28]:
test_statistic , p_value = stats.chisquare(observed, expected, ddof = df)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

In [29]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significant difference between 4 centers')
else:
    print('We fail to reject Null hypothesis there is no significant difference between 4 centers')

Significnace=0.050, p=0.425
We fail to reject Null hypothesis there is no significant difference between 4 centers

In [30]:
stats.norm.cdf(1.4)

0.9192433407662289